@{
    ViewData["Title"] = "OwnBranches";
}


<div class="row">
    <div class="col-lg-12 col-xl-12">
        <div class="card">

            <div class="card-body">

                <div class="row justify-content-center">

                    <div class="col-10">
                        <button type="button" class="btn btn-sissa btn-rounded boton-nueva-sucursal"><b>+</b> </button>

                        <table class="table table-striped" id="tablaSucursales">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre Sucursal</th>
                                    <th scope="col">Nombre Servidor</th>
                                    <th scope="col">Nombre Base de datos</th>
                                    <th scope="col">Nombre Usuario</th>
                                    <th scope="col">Password</th>
                                    <th scope="col">Status</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                    </div>
                </div>


            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="modalSucursal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sucursales propias</h5>
                @* <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>*@
            </div>

            <form>

                <div class="modal-body" id="divmodal">

                    <div class="mb-3">
                        <label class="form-label">Nombre Sucursal</label>
                        <input type="text" class="form-control input-rounded" id="txtsucursal" autocomplete="off" required>
                        <p id="mej1"></p>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Nombre Servidor</label>
                        <input type="text" class="form-control input-rounded" id="txtservidor" autocomplete="off" required>
                        <p id="mej2"></p>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Nombre Base de datos</label>
                        <input type="text" class="form-control input-rounded" id="txtbase" autocomplete="off" required>
                        <p id="mej3"></p>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Nombre Usuario</label>
                        <input type="text" class="form-control input-rounded" id="txtusuario" autocomplete="off" required>
                        <p id="mej4"></p>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control input-rounded" id="txtpassword" autocomplete="off" required>
                        <p id="mej5"></p>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Status</label>
                        <select class="form-control input-rounded" id="selectstatus">
                            <option value="A">ACTIVO</option>
                            <option value="B">BAJA</option>

                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-rounded btn-secondary" id="btncerrar">Cerrar</button>
                    <button type="submit" class="btn btn-sissa btn-rounded boton-guardar-cambios-sucursal">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts{
    <script type="text/javascript">

        const _modeloSucursal = {
            Id_sucursal: 0,
            Sucursal: "",
            Servidor: "",
            Dba: "",
            Usuario: "",
            Password: "",
            Status: ""
        }
        $(document).on("click", ".boton-nueva-sucursal", function() {

            _modeloSucursal.Id_sucursal = 0;
            _modeloSucursal.Sucursal = "";
            _modeloSucursal.Servidor = "";
            _modeloSucursal.Dba = "";
            _modeloSucursal.Usuario = "";
            _modeloSucursal.Password = "";
            _modeloSucursal.Status = "";

            MostrarModal();

        })

        function MostrarSucursales() {

            fetch("/OwnBranches/listaSucursales")
                .then(response => {
                    return response.ok ? response.json() : Promise.reject(response)
                })
                .then(responseJson => {
                    if (responseJson.length > 0) {

                        $("#tablaSucursales tbody").html("");


                        responseJson.forEach((sucursal) => {
                            $("#tablaSucursales tbody").append(
                                $("<tr>").append(
                                    $("<td>").text(sucursal.branch_name),
                                    $("<td>").text(sucursal.server_name),
                                    $("<td>").text(sucursal.dba_name),
                                    $("<td>").text(sucursal.usr_name),
                                    $("<td>").text("--"),
                                    $("<td>").text(sucursal.status),
                                    $("<td>").append(
                                        $("<button>").addClass("btn btn-primary btn-sm boton-editar-sucursal").text("Editar").data("dataSucursal", sucursal)

                                    )
                                )
                            )
                        })

                    }


                })
        }


        document.addEventListener("DOMContentLoaded", function() {

            MostrarSucursales();

        }, false)

        function MostrarModal() {

            $("#txtsucursal").val(_modeloSucursal.Sucursal);
            $("#txtservidor").val(_modeloSucursal.Servidor);
            $("#txtbase").val(_modeloSucursal.Dba);
            $("#txtusuario").val(_modeloSucursal.Usuario);
            $("#txtpassword").val(_modeloSucursal.Password);

            $("#selectstatus").val(_modeloSucursal.Status == "" ? $("#selectstatus option:first").val() : _modeloSucursal.Status)

            $("#modalSucursal").modal("show");

        }

        $(document).on("click", ".boton-editar-sucursal", function() {

            const _sucursal = $(this).data("dataSucursal");

            _modeloSucursal.Id_sucursal = _sucursal.ownbranche_id;
            _modeloSucursal.Sucursal = _sucursal.branch_name;
            _modeloSucursal.Servidor = _sucursal.server_name;
            _modeloSucursal.Dba = _sucursal.dba_name;
            _modeloSucursal.Usuario = _sucursal.usr_name;
            _modeloSucursal.Password = _sucursal.usr_password;
            _modeloSucursal.Status = _sucursal.status;

            MostrarModal();

        })


        $(document).on("click", "#btncerrar", function() {
            $("#modalSucursal").modal("hide");
        })

        $(document).on("click", ".boton-guardar-cambios-sucursal", function(e) {
            e.preventDefault();


            const modelo = {

                ownbranche_id: _modeloSucursal.Id_sucursal,
                branch_name: $("#txtsucursal").val(),
                server_name: $("#txtservidor").val(),
                dba_name: $("#txtbase").val(),
                usr_name: $("#txtusuario").val(),
                usr_password: $("#txtpassword").val(),
                status: $("#selectstatus").val(),
                rs_id: "",
                rfc: ""
            }
            if (_modeloSucursal.Id_sucursal == 0) {

                fetch("/OwnBranches/guardarSucursales", {
                    method: "POST",
                    headers: { "Content-Type": "application/json; charset=utf-8" },
                    body: JSON.stringify(modelo)
                })
                    .then(response => {
                        //return response.ok ? response.json() : Promise.reject(response)
                        return response.ok ? response.json() : response.text()
                    })
                    .then(responseJson => {

                        if (responseJson.valor) {
                            $("#modalSucursal").modal("hide");
                            Swal.fire("Listo!", "Sucursal fue creada", "success");
                            MostrarSucursales();
                        }
                        else
                            validacionForm()
                    })
            }
            else {
                fetch("/OwnBranches/editarSucursales", {
                    method: "PUT",
                    headers: { "Content-Type": "application/json; charset=utf-8" },
                    body: JSON.stringify(modelo)
                })
                    .then(response => {
                        //return response.ok ? response.json() : Promise.reject(response)
                        return response.ok ? response.json() : response.text()
                    })
                    .then(responseJson => {

                        if (responseJson.valor) {
                            $("#modalSucursal").modal("hide");
                            Swal.fire("Listo!", "La sucursal fue actualizada", "success");
                            MostrarSucursales();
                        }
                        else
                            validacionForm()
                        //Swal.fire("Lo sentimos", "No se puedo actualizar", "error");
                    })

            }


        })

        function validacionForm() {
            if ($("#txtsucursal").val() == "")
                $('#mej1').html('<span style="color:red;">Este campo es obligatorio.</span>').show().fadeOut(3500);
            if ($("#txtservidor").val() == "")
                $('#mej2').html('<span style="color:red;">Este campo es obligatorio.</span>').show().fadeOut(3500);
            if ($("#txtbase").val() == "")
                $('#mej3').html('<span style="color:red;">Este campo es obligatorio.</span>').show().fadeOut(3500);
            if ($("#txtusuario").val() == "")
                $('#mej4').html('<span style="color:red;">Este campo es obligatorio.</span>').show().fadeOut(3500);
            if ($("#txtpassword").val() == "")
                $('#mej5').html('<span style="color:red;">Este campo es obligatorio.</span>').show().fadeOut(3500);
        }

    </script>
}
